<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>ABC_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.project.registration.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.project.registration.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mainpage</display-name>
    <servlet-name>Mainpage</servlet-name>
    <servlet-class>com.project.registration.Mainpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mainpage</servlet-name>
    <url-pattern>/Mainpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.project.registration.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ASignup</display-name>
    <servlet-name>ASignup</servlet-name>
    <servlet-class>com.project.aregistration.ASignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ASignup</servlet-name>
    <url-pattern>/ASignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ALogin</display-name>
    <servlet-name>ALogin</servlet-name>
    <servlet-class>com.project.aregistration.ALogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ALogin</servlet-name>
    <url-pattern>/ALogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ALogout</display-name>
    <servlet-name>ALogout</servlet-name>
    <servlet-class>com.project.aregistration.ALogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ALogout</servlet-name>
    <url-pattern>/ALogout</url-pattern>
  </servlet-mapping>
</web-app>